@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff; /* Light background */
    --text-color: #111111; /* Dark gray for readability */
    --main-color: #0044cc; /* Deep blue for highlights */
    --white-color: #fdfdfd; /* Slightly off-white */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
   
}
*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #121212; /* Dark background */
    --text-color: #e0e0e0; /* Light gray for readability */
    --main-color: red; /* Vibrant blue for contrast */
    --shadow-color: rgba(255, 255, 255, 0.2); /* Light glow effect */
   
}

html {
    font-size: 62.5%;
 
}


body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden; 

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.6rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services {
    min-height: auto;
    padding-bottom: 10rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    min-height: auto;
    padding-bottom: 10rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #333;
}

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.testimonial-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: 1.4rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}


/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container .profession-box {
        right: -10%;
    }

    .home .profession-container .overlay {
        right: -6%;
    }

    .home-img img {
        right: 0;
    }
}

@media (max-width: 1100px) {
    .home .profession-container .profession-box {
        right: -15%;
    }

    .home-img img {
        max-width: 420px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -20%;
    }

    .home .profession-container .overlay {
        right: -12%;
    }

    .home-img img {
        max-width: 400px;
    }
}

@media (max-width: 991px) {

    .navbar a:nth-child(1) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -35%;
    }

    .home .profession-container .overlay {
        right: -30%;
    }

    .home-img img {
        display: none;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 896px) {
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .home .profession-container .profession-box {
        right: -50%;
    }

    .home .profession-container .overlay {
        right: -43%;
    }
}

@media (max-width: 879px) {
    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 450px;
        left: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -325px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .testimonial-container .testimonial-wrapper {
        padding: 5rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 580px) {
    .portfolio .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -325px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -325px);
    }

    .home .profession-container .overlay {
        top: 80rem;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }
}

@media (max-width: 315px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}
img {
    border-radius: 20px;
}



.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.education-row .education-column {
    flex: 1 1 35rem;
}

.education-column {
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .title {
    font-size: 2.2rem;
}

.education-box {
    border-left: 0.2rem solid var(--main-color);
    position: relative;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}


/* Sliding hover effect container */

.education-content .content {
    position: relative;
    padding: 1.5rem;
    background: var(--main-color);
    /* Default Red background */
    color: white;
    /* Default White text */
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    overflow: hidden;
    transition: color 0.5s ease-in-out;
}


/* Creating the sliding effect */

.education-content .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    /* Slide-in black background */
    transition: left 0.5s ease-in-out;
    z-index: 0;
}


/* Text & content positioning */

.education-content .content * {
    position: relative;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}


/* On hover: slide black background in from left & change text to red */

.education-content .content:hover::before {
    left: 0;
    /* Move the black background into view */
}

.education-content .content:hover h3,
.education-content .content:hover p,
.education-content .content:hover .year {
    color: var(--main-color);
    /* Change text to red */
}


/* Restoring the small circle at each new education/experience entry */

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
    border: 0.2rem solid white;
}


/* Adjusting Year Styling */

.year {
    font-size: 1.5rem;
    color: white;
    padding-bottom: 0.5rem;
    margin-right: 5rem;
}


/* Adjusting Headings */

.heading {
    font-size: 3rem;
}

.heading span {
    color: var(--main-color);
}

.title {
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    color: white;
}


/* Adjusting Text Styling */

.education-content .content h3 {
    font-size: 2rem;
    color: white;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: 0.5rem;
    color: white;
}



/*skills*/


.skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-column {
    flex: 1;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    /* To ensure the hover effect doesn't overflow */
}

.skills-box {
    background-color: var(--second-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    /* Ensure content stays above the background */
    overflow: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
    /* Smooth transition for background and text color */
}


/* Hover effect on the box */

.skills-box:hover {
    background-color: var(--hover-bg-color);
    /* Change background to red */
}


/* Hover effect for all text inside .skills-box */

.skills-box:hover,
.skills-box:hover * {
    color: var(--hover-text-color);
    /* Change text color to secondary when hovering over the box */
}


/* When hovering, slide the background */

.skills-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--main-color), var(--bg-color));
    transition: left 0.5s ease-in-out;
    /* Slide in animation */
    z-index: -1;
    /* Make sure it stays behind the content */
}


/* When hovering, slide in the background */

.skills-box:hover::before {
    left: 100%;
}


/* Skills content area */

.skills-content {
    margin-top: 20px;
}

.progress {
    margin-bottom: 15px;
    font-size: 16px;
}

.progress h3 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-weight: bold;
    color: inherit;
    /* Ensure text color changes with hover */
}


/* Apply styling to the progress bar */

.skills-column .progress .bar {
    background-color: #ddd;
    /* Light grey background for progress bar */
    border-radius: 5px;
    width: 100%;
    height: 10px;
    /* Adjust the height of the bar */
    overflow: hidden;
    margin-top: 5px;
}

.skills-column .progress .bar span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    /* Main color for the progress bar */
    width: 0%;
    /* This will be updated dynamically */
    transition: width 2s ease-in-out;
    /* Smooth transition for the width */
}


/* Hover effect on progress bars - turn them black */

.skills-box:hover .progress .bar span {
    background-color: var(--progress-hover-color);
    /* Change progress bar to black on hover */
}


/* Progress bars with specific color for each skill */

.skills-column .progress:nth-child(1) .bar span {
    width: 90%;
    background-color: var(--main-color);
}


/* HTML */

.skills-column .progress:nth-child(2) .bar span {
    width: 70%;
    background-color: var(--main-color);
}


/* JavaScript */

.skills-column .progress:nth-child(3) .bar span {
    width: 80%;
    background-color: var(--main-color);
}


/* CSS */

.skills-column .progress:nth-child(4) .bar span {
    width: 85%;
    background-color: var(--main-color);
}


/* Java */

.skills-column .progress:nth-child(5) .bar span {
    width: 75%;
    background-color: var(--main-color);
}


/* C++ */

.skills-column .progress:nth-child(6) .bar span {
    width: 80%;
    background-color: var(--main-color);
}


/* C# */

.skills-column .progress:nth-child(7) .bar span {
    width: 95%;
    background-color: var(--main-color);
}


/* Python */

.skills-column .progress:nth-child(8) .bar span {
    width: 60%;
    background-color: var(--main-color);
}


/* Node.js */

.skills-column .progress:nth-child(9) .bar span {
    width: 70%;
    background-color: var(--main-color);
}


/* PHP */

.skills-column .progress:nth-child(10) .bar span {
    width: 65%;
    background-color: var(--main-color);
}


/* React */

.skills-column .progress:nth-child(11) .bar span {
    width: 100%;
    background-color: var(--main-color);
}


/* Operating System Installation */

.skills-column .progress:nth-child(12) .bar span {
    width: 65%;
    background-color: var(--main-color);
}


/* Networking */

.skills-column .progress:nth-child(13) .bar span {
    width: 95%;
    background-color: var(--main-color);
}


/* Web Design */

.skills-column .progress:nth-child(14) .bar span {
    width: 90%;
    background-color: var(--main-color);
}


/* Quality Assurance */

.skills-column .progress:nth-child(15) .bar span {
    width: 85%;
    background-color: var(--main-color);
}


/* Desktop Support Management */

.skills-column .progress:nth-child(16) .bar span {
    width: 70%;
    background-color: var(--main-color);
}


/* IT Consulting */

.skills-column .progress:nth-child(17) .bar span {
    width: 75%;
    background-color: var(--main-color);
}


/* Cabling */

.skills-column .progress:nth-child(18) .bar span {
    width: 68%;
    background-color: var(--main-color);
}


/* Database Management */

.skills-column .progress:nth-child(19) .bar span {
    width: 84%;
    background-color: var(--main-color);
}


/* Project Planning */

.skills-column .progress:nth-child(20) .bar span {
    width: 83%;
    background-color: var(--main-color);
}


/* Cloud Computing */


/* Styling for the title */

.skills-column h3.title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: inherit;
    /* Ensure title color changes with hover */
}


/* Heading style */

.skills h2.heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: inherit;
    /* Ensure heading color changes with hover */
}

.skills h2.heading span {
    color: var(--main-color);
    /* Main color for the highlighted part */
}


/* Hover effect on the progress bars - turn them black */

.skills-box:hover .progress .bar span {
    background-color: var(--progress-hover-color) !important;
    /* Force the color to black */
}



